<template>
    <div class="box">
        <form class="login-form">
            <h1>Login</h1>
            <input type="email" v-model="email" placeholder="Email" required>
                <div v-if="errors.email" class="alert alert-danger" role="alert">
                    {{errors.email[0]}}
                </div>
            <input type="password" v-model="password" placeholder="Password" required>
                <div v-if="errors.pass" class="alert alert-danger" role="alert">
                    {{errors.pass[0]}}
                </div>
            <input type="submit" name="Login" value="Login" @click.prevent="formSubmit">
            <div class="links">
                <router-link to="/register">Sign Up</router-link>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "login",
        data() {
            return {
                email: '',
                password: '',
                error: '',
                errors: {
                    email: '',
                    pass: ''
                }

            }
        },
        methods: {
            formSubmit() {

            }
        },
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: 'Raleway', sans-serif;
    }
    .box {
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
        background-color: #21D4FD;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        height: 100vh;
    }
    .login-form {
        min-width: 250px;
        max-width: 400px;
        border-radius: 24px;
        padding: 15px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .login-form h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-top: 35px;
    }
    .login-form input[type = "email"] {
        margin-top: 30px;
    }
    .login-form input[type = "password"] {
        margin-top: 10px;
    }
    input {
        outline: none;
    }
    .links {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .links > a:first-of-type {
        margin-right: 5px;
    }
    .links > a {
        background-color: #E0E0E0;
        border-radius: 24px;
        font-weight: 400;
        color: black;
        line-height: 12px;
        flex: 1;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-family: 'Raleway';
        transition: 0.25s;
    }
    .links > a:hover {
        opacity: 0.6;
    }
    .login-form input[type = "submit"] {
        background-color:  #E0E0E0;
        background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        width: 100%;
        color: white;
        border: none;
        margin-top: 35px;
        cursor: pointer;
        padding: 10px;
        font-family: 'Raleway', sans-seriff;
        font-size: 1.3rem;
        font-weight: bold;
        border-radius: 24px;
        transition: 0.25s;
    }
    .login-form input[type = "submit"]:hover {
        opacity: 0.8;
    }
    .login-form input[type = "email"]:focus, .login-form input[type = "password"]:focus {
        border: 2px #21D4FD solid;
    }
    .login-form input[type = "email"], .login-form input[type = "password"] {
        width: 100%;
        border: none;
        border-radius: 24px;
        font-size: 1rem;
        font-family: 'Raleway', sans-seriff;
        background-color: gainsboro;
        padding: 15px;
    }
</style>
