<template>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <form v-on:submit.prevent="formSubmit" method="post">
                        <div class="row">

                            <div class="col text-center">
                                <h1>Register</h1>
                                <div v-if="message" class="alert alert-success">
                                    {{message}}
                                </div>
                                <div v-if="error" class="alert alert-danger">
                                    {{error}}
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col mt-4">
                                <input type="text" v-model="name" class="form-control" placeholder="Your Name">
                                <div v-if="errors.name" class="alert alert-danger">
                                    {{errors.name[0]}}
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="email" class="form-control" v-model="email" placeholder="Email">
                                <div v-if="errors.email" class="alert alert-danger">
                                    {{errors.email[0]}}
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="password" class="form-control" v-model="password" placeholder="Password">
                                <div v-if="errors.password" class="alert alert-danger">
                                    {{errors.password[0]}}
                                </div>
                            </div>
                            <div class="col">
                                <input type="password" class="form-control" v-model="password_confirmation" placeholder="Confirm Password">
                                <div v-if="errors.password_confirmation" class="alert alert-danger">
                                    {{errors.password_confirmation[0]}}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-start mt-4">
                            <div class="col justify-content-center" >
                                <button class="btn btn-primary m-auto" >Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</template>

<script>
    export default {

        name: "register",
        data() {
            return {
                name: '',
                email: '',
                password: '',
                password_confirmation: '',
                message: '',
                error: '',
                errors: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                }
            }
        },
        methods: {
            formSubmit() {
                axios.post('/api/register', {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation
                })
                    .then(response => {
                        if(response.data.success){
                            this.$router.push({name: 'login'})
                        }else {
                            this.error = response.data.error
                        }
                    })
                .catch(error => {
                    this.error = error.response.data.message
                    this.errors = error.response.data.errors
                })
            }
        }
    }
</script>


