<template>
    <div>
        <navbar></navbar>
        <router-view></router-view>
        <nav-foot></nav-foot>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex'

    export default {
        name: "app",
        computed: {
            ...mapGetters(['authUser']),
        }
    }
</script>
