<template>
    <div style="height: 515px" id="leafletmap">
        <l-map :zoom="zoom" :center="center">
            <l-tile-layer :url="url"></l-tile-layer>
            <l-marker :lat-lng="marker"></l-marker>
        </l-map>
    </div>
</template>

<script>

    import L from 'leaflet';
    import { LMap, LTileLayer, LMarker } from 'vue2-leaflet';

    export default {
        props: ['latLong'],
        name: "LMap",
        components: {
            'l-map' : LMap,
            'l-tile-layer' : LTileLayer,
            'l-marker' : LMarker,
        },
        data() {
            return {
                zoom: 13,
                center: L.latLng(40.1811507, 44.5135514),
                url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                marker: L.latLng(40.1811507, 44.5135514),
            }
        },
        mounted(){
            let latLng = this.latLong;
            if (latLng.length) {
                this.center = L.latLng(latLng);
                this.marker = L.latLng(latLng)
            }
        },
        watch:{
            latLong(value){
                if (value.length) {
                    this.center = L.latLng(value);
                    this.marker = L.latLng(value)
                }            }
        }
    }
</script>

<style lang="scss">
    #leafletmap .leaflet-marker-shadow{
        display: none !important;
    }
</style>
