<template>
    <div class="container mt-3">
        <h1 class="text-center">Admin Edit Profile</h1>
        <hr>
        <div v-if="message.length" class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            <strong>{{message}}</strong>
        </div>
        <div v-if="error.length" class="alert alert-info alert-danger">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            <strong>{{error}}</strong>
        </div>
        <div class="row">
            <!-- left column -->
            <div class="col-md-6 personal-info" v-if="loaded">
                <h3 class="text-center">Personal info</h3>
                <hr>
                <div class="text-center">
                    <img v-if="user.image"
                         :src="`${projectUrl}/storage/uploads/users/${user.id}/${user.image}`"
                         class="avatar img-circle" alt="avatar" id="avatar">
                    <img v-else :src="`${projectUrl}/images/default/user/avatar.png`"
                         class="avatar img-circle" alt="avatar" id="avatar1">
                </div>
                <div class="form-group row ml-5 mt-3">
                    <label class="col-md-3 control-label mt-2">Name:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" v-model="user.name">
                        <div v-if="errors.name" class="invalid-feedback">
                            {{errors.name[0]}}
                        </div>
                    </div>
                </div>
                <div class="form-group row ml-5">
                    <label class="col-md-3 control-label mt-2">Country:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select id="user_time_zone" class="form-control" v-model="address.country"
                                    @change="getStates()">
                                <option disabled selected value="">Select-Country</option>
                                <option v-for="country in countries">{{country}}</option>
                            </select>
                            <div v-if="errors.country" class="invalid-feedback">
                                {{errors.country[0]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row ml-5">
                    <label class="col-md-3 control-label mt-2">City:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select id="user_time_zone1" class="form-control" @change="setLatLong" v-model="address.city">
                                <option disabled selected value="">Select-City</option>
                                <option v-for="city in cities" :value="city.name">{{city.name}}</option>
                            </select>
                            <div v-if="errors.city" class="invalid-feedback">
                                {{errors.city[0]}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group ml-5" id="input">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01" ref="file" @change="setImage">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
                <div class="form-group row ml-5 mt-3">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" @click="updateUser" class="btn btn-primary" value="Save Changes">
                        <span></span>
                        <input @click="deleteUser" class="btn btn-danger" id="deleteButton" value="Delete User">
                    </div>
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-6 personal-info">
                <h3 class="text-center">See your address in map</h3>
                <hr>
                <my-map v-if="address.country !== '' && address.city !== '' " :latLong="[address.lat, address.long]"></my-map>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        name: "editUser",
        data() {
            return {
                projectUrl: location.origin,
                address: {
                    country: '',
                    city: '',
                    lat: 0,
                    long: 0,
                },
                user: {},
                file: '',
                countries: [],
                loaded: false,
                cities: [],
                message: [],
                error: [],
                errors: {
                    name: [],
                    country: [],
                    city: []
                }
            }
        },
        created() {
            this.show()
        },
        methods: {
            setLatLong() {
                let city = this.cities.find(item => item.name == this.address.city);
                this.address.lat = city.lat;
                this.address.long = city.long;
                this.$emit('changeGeo', {asdasd:'asdasdasd'})
            },
            show() {
                let id = this.$route.params.id;
                axios.get(`/api/user/edit/${id}`)
                    .then(response => {
                        if (response.data.success) {
                            this.countries = response.data.countries;
                            this.user = response.data.user;
                            if (this.user.address) {
                                this.address = this.user.address;
                                this.getStates();
                            }
                            this.loaded = true;
                        } else {
                            this.error = 'Something go wrong';
                        }
                    })
                    .catch(error => {
                        this.error = error
                    })
            },
            getStates() {
                let cityName = this.address.country;
                if (cityName && cityName !== '' && typeof cityName !== 'undefined') {
                    axios.get(`/api/states/${cityName}`)
                        .then(response => {
                            if (response.data.success) {
                                this.cities = response.data.cities;
                            } else {
                                this.error = response.data.error
                            }
                        })
                }
            },
            updateUser() {
                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('user[name]', this.user.name);
                formData.append('user[image]', this.user.image);
                formData.append('address[city]', this.address.city);
                formData.append('address[country]', this.address.country);
                formData.append('address[lat]', this.address.lat);
                formData.append('address[long]', this.address.long);
                let id = this.$route.params.id;
                axios.post(`/api/user/edit/${id}`, formData)
                    .then(response => {
                        if (response.data.success) {
                            this.message = response.data.message;
                            this.error = '';
                            this.show();
                        }
                    })
                    .catch(error => {
                        this.error = error.response.data.message
                        this.errors.name =  error.response.data.errors.name[0]
                    })
            },
            setImage() {
                this.file = this.$refs.file.files[0]
            },

            deleteUser() {
                let id = this.$route.params.id;
                axios.delete(`/api/user/${id}/delete`)
                    .then(response => {
                        if (response.data.success) {
                            let success = response.data.message;
                            this.$router.push({
                                path: '/users',
                                params: {
                                    success: success
                                }
                            })
                        } else {
                            this.error = response.data.error
                        }
                    })
                    .catch(error => {
                        this.error = error
                    })
            }

        }
    }
</script>

<style lang="scss" scoped>
    #deleteButton {
        max-width: 110px;
    }
    #avatar1 {
        max-width: 252px;
        max-height: 300px;
    }
    #avatar {
        width: 540px;
        height: 250px;
    }
    #input {
        width: 450px;
    }

</style>
