<template>
    <div v-infinite-scroll="index" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
        <div class="container">
            <section class="container mt-4 mb-4">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-6" v-for="user in users">
                            <div class="d-flex flex-row border rounded">
                                <div class="p-0 w-25">
                                    <img :src='user.image ?
                                     `storage/uploads/users/${user.id}/${user.image}` :
                                     `storage/uploads/users/default/downd.png`' class="img-thumbnail border-0"/>
                                </div>
                                <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
                                    <h4 class="text-primary"> {{user.name}}</h4>
                                    <h5 class="text-info">{{user.email}}</h5>
                                    <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
                                        <li><i class="fab fa-facebook-square"></i> Facebook</li>
                                        <li><i class="fab fa-twitter-square"></i></li>
                                    </ul>
                                    <p class="text-right m-0">
                                        <router-link :to="{ name: 'editUser', params: { id: user.id }}"
                                                     class="btn btn-primary">Edit Profile
                                        </router-link>
                                        <i
                                            class="far fa-user"></i>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
    export default {
        name: "users",
        data() {
            return {
                users: [],
                busy: false,
                message: '',
            }
        },
        methods: {
            index() {
                this.busy = true;
                let data = {
                    params: {
                        skip: this.users.length,
                        take: 10,
                    }
                };
                // let loader = Vue.$loading.show()
                axios.get("/api/allUsers", data)
                    .then(response => {
                        // this.loader.hide()
                        if (response.data) {
                            response.data.users.forEach((item) => {
                                this.users.push(item)
                                this.busy = false;
                            });
                            // console.log(this.$route.params)
                            // this.message = this.$route.params.message
                        }
                    });
            },
        }
    }
</script>


