<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-6 text-center">
                <div v-if="userMessage !== ''" class="alert alert-success mt-3" role="alert">
                    {{userMessage}}
                </div>
                <div v-if="userError !== ''" class="alert alert-danger mt-3" role="alert">
                    {{userError}}
                </div>
                <h1>Add Users</h1>
                <div>
                    <img :src="`${projectUrl}/images/default/user/avatar.png`" class="avatar">
                </div>
                <label class="form-control-label" for="input-file-import">Upload Excel File For Users</label>
                <input type="file" class="form-control nice" :class="{ ' is-invalid' : error.message }"
                       id="input-file-import" name="file_import" ref="importFileUsers" @change="onFileChange">
                <button class="btn btn-primary mt-2" type="submit" @click="addUser">Add User</button>
                <div v-if="error.message" class="invalid-feedback">
                        {{error.message}}
                </div>
            </div>
            <div class="col-6 text-center">
                <div v-if="productMessage !== ''" class="alert alert-success mt-3" role="alert">
                    {{productMessage}}
                </div>
                <div v-if="productError !== ''" class="alert alert-danger mt-3" role="alert">
                    {{productError}}
                </div>
                <h1>Add Products</h1>
                <div>
                    <img :src="`${projectUrl}/images/default/product/car-avatar.jpg`" class="avatar">
                </div>
                <label class="form-control-label" for="input-file-import">Upload Excel File For Cars</label>
                <input type="file" class="form-control nice" :class="{ ' is-invalid' : error.message }"
                       id="input-file-imports" name="file_import" ref="importFileProducts" @change="onFileChange">
                <button class="btn btn-primary mt-2" type="submit" @click="addProduct">Add Cars</button>
                <div v-if="error.message" class="invalid-feedback">
                    {{error.message}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "addXls",
        data() {
            return {
                projectUrl: location.origin,
                userError: '',
                productError: '',
                userMessage: '',
                productMessage: '',
                error: {},
                importFileUsers: '',
                importFileProducts: '',
            }
        },
        methods: {
            onFileChange(e) {
                this.importFile = e.target.files[0];
            },
            addUser() {
                let formData = new FormData();
                formData.append('importFileUsers', this.importFile);

                axios.post('/api/users/import', formData, {
                    headers: { 'content-type': 'multipart/form-data' }
                })
                    .then(response => {
                        if(response.status === 200 && response.data.message) {
                            this.userMessage = response.data.message
                        }else {
                            this.userError = response.data.error
                        }
                    })
                    .catch(error => {
                        this.error = error.response.data
                    });
            },
            addProduct() {
                let formData = new FormData();
                formData.append('importFileProducts', this.importFile);
                axios.post('/api/products/import', formData, {
                    headers: { 'content-type': 'multipart/form-data' }
                })
                    .then(response => {
                        if(response.status === 200 && response.data.message) {
                            this.productMessage = response.data.message
                        }else{
                            this.productError = response.data.error
                        }
                    })
                    .catch(error => {
                        this.error = error.response.data
                    });
            },
        }
    }
</script>

<style scoped>

    .avatar {
        max-width: 322px;
        max-height: 246px;
    }
    .nice{
        max-width: 330px;
        margin-left: 105px;
    }

</style>
