<template>
    <div class="container mt-3">
        <div v-if="message" class="alert alert-success text-center">
            {{message}}
        </div>
        <div v-if="error" class="alert alert-danger text-center" role="alert">
            {{error}}
        </div>
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="card">
                    <article class="card-group-item row">
                        <div class="col-md-12">
                            <header class="card-header text-center">
                                <h6 class="title"><strong>Marks</strong></h6>
                            </header>
                        </div>
                        <div class="filter-content">
                            <div class="card-body row">
                                <div class="col-md-6">
                                    <div class="ui-select asd">
                                        <select class="form-control" v-model="mark_id" @change="getModels">
                                            <option selected disabled value="">All Models</option>
                                            <option v-for="item in marks" :value="item.mark_id">{{item.name}}
                                            </option>
                                        </select>
                                        <div v-if="errors.mark_id" class="alert alert-danger" role="alert">
                                            {{errors.mark_id[0]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 asd">
                                    <div class="ui-select">
                                        <select class="form-control" v-model="model_id">
                                            <option disabled selected value="">Select-Model</option>
                                            <option v-for="item in models" :value="item.id">{{item.name}}</option>
                                        </select>
                                        <div>
                                            <div v-if="errors.model_id" class="alert alert-danger" role="alert">
                                                {{errors.model_id[0]}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- card-body.// -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="card">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title"><strong>Price</strong></h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <div class="form">
                                    <div class="form-group">
                                        <label></label>
                                        <input type="number" class="form-control" id="inputEmail1"
                                               placeholder="$0" v-model="price">
                                        <div v-if="errors.price" class="alert alert-danger" role="alert">
                                            {{errors.price[0]}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <label><strong>Category</strong></label>
                <div class="ui-select">
                    <select class="form-control" v-model="category">
                        <option disabled selected value="">Select-Category</option>
                        <option>Jeep</option>
                        <option>Sedan</option>
                        <option>Coupe</option>
                        <option>Sport</option>
                        <option>Universal</option>
                    </select>
                </div>
                <div v-if="errors.category" class="alert alert-danger" role="alert">
                    {{errors.category[0]}}
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <label><strong>Year</strong></label>
                <input type="number" class="form-control" v-model="year"
                       placeholder="Year">
                <div v-if="errors.year" class="alert alert-danger" role="alert">
                    {{errors.year[0]}}
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <label><strong>Description</strong></label>
                <input type="text" v-model="description" class="form-control" placeholder="Description">
                <div v-if="errors.description" class="alert alert-danger" role="alert">
                    {{errors.description[0]}}
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <label><strong>Odometer</strong></label>
                <input type="number" class="form-control" v-model="odometer"
                       placeholder="Odometer">
                <div v-if="errors.odometer" class="alert alert-danger" role="alert">
                    {{errors.odometer[0]}}
                </div>
            </div>
            <div class="col-md-6 mt-4" id="asd">
                <label><strong>Image</strong></label>
                <input type="file" class="form-control" ref="fileInput" v-on:change="setImage"
                       placeholder="Your Car Image">
            </div>
        </div>
        <button class="btn btn-primary mt-3 abs" @click="formSubmit">Create Car</button>
    </div>
</template>

<script>
    export default {
        name: "createProduct",

        data() {
            return {
                mark_id: '',
                model_id: '',
                price: '',
                description: '',
                category: '',
                odometer: '',
                year: '',
                image: '',
                file: '',
                message: '',
                marks: [],
                models: [],
                error: '',
                errors: {
                    mark_id: '',
                    model_id: '',
                    price: '',
                    description: '',
                    category: '',
                    odometer: '',
                    year: ''
                }
            }
        },
        created() {
            this.getMarks()
        },
        methods: {
            formSubmit() {
                let formData = new FormData();
                formData.append('mark_id', this.mark_id);
                formData.append('model_id', this.model_id);
                formData.append('price', this.price);
                formData.append('description', this.description);
                formData.append('category', this.category);
                formData.append('odometer', this.odometer);
                formData.append('year', this.year);
                formData.append('file', this.file);
                axios.post('/api/product/create', formData)
                    .then(response => {
                        if (response.data.success) {
                            this.error = ''
                            this.message = response.data.message
                        } else {
                            this.message = ''
                            this.error = response.data.error
                        }
                    })
                    .catch(error => {
                        console.log(error.response)
                        this.error = error.response.data.message
                        this.errors = error.response.data.errors
                    });

            },
            setImage() {
                this.file = this.$refs.fileInput.files[0]
            },
            getMarks() {
                axios.get('/api/getMarks')
                    .then(response => {
                        if (response.data.success) {
                            this.marks = response.data.marks
                        }
                    })
            },
            getModels() {
                let markId = this.mark_id;
                axios.get('/api/getModels', {
                    params: {
                        mark_id: markId
                    }
                })
                    .then(response => {
                        if (response.data.success) {
                            this.models = response.data.models
                        }
                    })
            },
        }
    }
</script>

<style scoped>

    .asd {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #asd{
        margin-left: 265px;
    }
    .abs{
        margin-left: 500px;
    }

</style>
