<template>
    <div class="container">
        <div class="row">
            <div class="col-12" style="width: 50%;">
                <form v-on:submit.prevent="formSubmit" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" v-model="name" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Name">
                        <!--<div class="alert alert-danger" role="alert">-->
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Price</label>
                        <input type="number" v-model="price" class="form-control" id="exampleInputPassword1">
                        <!--<div class="alert alert-danger" role="alert">-->
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <input type="text" v-model="description" class="form-control" id="exampleInputPassword1"
                               placeholder="Description">
                        <!--<div class="alert alert-danger" role="alert">-->
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Category</label>
                        <input type="text" class="form-control" v-model="category" id="exampleInputPassword1"
                               placeholder="Category">
                        <!--<div class="alert alert-danger" role="alert">-->
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Odometr</label>
                        <input type="number" class="form-control" v-model="odometr" id="exampleInputPassword1"
                               placeholder="Odometr">
                        <!--<div class="alert alert-danger" role="alert">-->
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Year</label>
                        <input type="number" class="form-control" v-model="year" id="exampleInputPassword1"
                               placeholder="Year">
                        <!--<div class="alert alert-danger" role="alert">-->
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Image</label>
                        <input type="file" class="form-control" ref="fileInput" v-on:change="setImage"
                               id="exampleInputPassword1"
                               placeholder="Your Car Image">
                        <!--<div class="alert alert-danger" role="alert">-->
                        <!--</div>-->
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "edit",
        data() {
            return {
                name: '',
                price: '',
                description: '',
                category: '',
                odometr: '',
                year: '',
                image: '',
                file: '',
                product: [],
                user: [],
            }
        },
        created() {
            this.index()
        },
        methods: {
            formSubmit() {
                let formData = new FormData();
                formData.append('name', this.name);
                formData.append('price', this.price);
                formData.append('description', this.description);
                formData.append('category', this.category);
                formData.append('odometr', this.odometr);
                formData.append('year', this.year);
                formData.append('file', this.file);
                let id = this.$route.params.id;
                axios.post(`/api/product/edit/${id}`, formData)
                    .then(function (response) {
                        console.log(response)
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            setImage() {
                this.file = this.$refs.fileInput.files[0]
            },
        }
    }
</script>

<style scoped>

</style>
