<template>
    <div v-infinite-scroll="index" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header text-center">
                                <h6 class="title">Brands</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6 text-center">
                                            <label>Marks</label>
                                            <div class="ui-select">
                                                <select class="form-control" v-model="filter.mark_id" @change="getModels">
                                                    <option @click="index" selected value="">select-mark</option>
                                                    <option v-for="item in marks" :value="item.mark_id">{{item.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 text-center">
                                            <label>Models</label>
                                            <div class="ui-select">
                                                <select class="form-control" v-model="filter.model_id">
                                                    <option disabled selected value="">select-model</option>
                                                    <option v-for="item in models" :value="item.id">{{item.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header text-center">
                                <h6 class="title">Price</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input type="number" class="form-control" id="inputEmail1"
                                                   placeholder="$0" v-model="filter.minPrice">
                                        </div>
                                        <div class="form-group col-md-6 text-right">
                                            <label>Max</label>
                                            <input type="number" class="form-control" placeholder="$1,0000"
                                                   v-model="filter.maxPrice">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header text-center">
                                <h6 class="title">Odometer</h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input type="number" class="form-control" id="inputEmail4"
                                                   placeholder="0 km" v-model="filter.minKm">
                                        </div>
                                        <div class="form-group col-md-6 text-right">
                                            <label>Max</label>
                                            <input type="number" class="form-control" placeholder="1,0000 km"
                                                   v-model="filter.maxKm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="alert alert-secondary" role="alert" v-if="message !== ''">
                <strong>{{message}}</strong>
            </div>
            <div class="alert alert-danger" role="alert" v-if="error !== ''">
                {{error}}
            </div>
            <div class="row" id="ads">
                <div class="col-md-4 mt-4" v-for="product in products">
                    <div class="card rounded">
                        <div class="card-image">
                            <span class="card-notify-badge">{{product.category}}</span>
                            <span class="card-notify-year">{{product.year}}</span>
                            <img class="img-fluid"
                                 v-if="product.image_name"
                                 :src="`storage/uploads/products/${product.id}/${product.image_name}`"
                                 alt="Alternate Text"/>
                            <img v-else src="images/default/product/car-default.jpg" class="card-img-top">
                        </div>
                        <div class="card-image-overlay m-auto">
                            <span class="card-detail-badge">Used</span>
                            <span class="card-detail-badge">$ {{product.price}}</span>
                            <span class="card-detail-badge">{{product.odometr}} Kms</span>
                        </div>
                        <div class="card-body text-center">
                            <div class="ad-title m-auto">
                                <h5 v-if="product.car_model && product.car_model.mark.name"><strong class="btn-danger">{{product.car_model.mark.name}}</strong>
                                </h5>
                                <h5 v-else><strong class="btn-danger">{{product.mark_name}}</strong></h5>
                                <h5 v-if="product.car_model && product.car_model.name"><strong>{{product.car_model.name}}</strong>
                                </h5>
                                <h5 v-else><strong>{{product.model_name}}</strong></h5>
                            </div>
                            <div>
                                <router-link class="ad-btn" :to="{ name: 'productPage', params: { id: product.id }}">View</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        name: "products",
        data() {
            return {
                marks: [],
                models: [],
                filter: {
                    model_id: '',
                    mark_id: '',
                    minPrice: '',
                    maxPrice: '',
                    minKm: '',
                    maxKm: ''
                },
                products: [],
                message: '',
                error: '',
                busy: false
            }
        },
        created() {
            this.getMarks()
        },
        methods: {
            index() {
                this.busy = true;
                let data = {
                    params: {
                        skip: this.products.length,
                        take: 10,
                    }
                };
                axios.get("/api/products", data)
                    .then(response => {
                        if (response.data.success) {
                            response.data.products.forEach((item) => {
                                this.products.push(item);
                                this.busy = false;
                            });
                        }
                    });
            },
            getMarks() {
                axios.get('/api/getMarks')
                    .then(response => {
                        if (response.data.success) {
                            this.marks = response.data.marks
                        }
                    })
            },
            getModels() {
                let markId = this.filter.mark_id;
                axios.get('/api/getModels', {
                    params: {
                        mark_id: markId
                    }
                })
                    .then(response => {
                        if (response.data.success) {
                            this.models = response.data.models
                        }
                    })
                    .catch(errors => {
                        console.log(errors)
                    })
            },
            getByParams() {
                let data = {
                    params: {
                        skip: this.products.length,
                        take: 10,
                    }
                };
                data.params = Object.assign(data.params, this.filter)
                axios.get('/api/getByParams', data)
                    .then(response => {
                        if (response.data.success) {
                            if (response.data.products.length) {
                                this.products = response.data.products;
                                this.message = '';
                            } else {
                                this.products = response.data.products;
                                this.message = response.data.message;
                                this.busy = true;
                            }
                        }
                    })
                    .catch(error => {
                        this.error = error
                    })
            }
        },
        watch: {
            filter: {
                handler() {
                    this.getByParams()
                },
                deep: true
            }
        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    @import url('https://fonts.googleapis.com/css?family=Montserrat');

    body {
        font-family: 'Montserrat', sans-serif;

    }
    #ads {
        /*margin: 30px 0 30px 0;*/
    }

    #ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

    #ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
    }

    #ads .card-detail-badge {
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;
    }

    #ads .card:hover {
        background: #fff;
        box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    #ads .card-image-overlay {
        font-size: 20px;

    }

    #ads .card-image-overlay span {
        display: inline-block;
    }

    #ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;
        position: relative;
        background-color: #e6de08;
    }

    #ads .ad-btn:hover {
        background-color: #e6de08;
        color: #1e1717;
        border: 2px solid #e6de08;
        background: transparent;
        transition: all 0.3s ease;
        box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    }

    #ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }
</style>
