<template>
    <div>
        <div class="container">
            <div class="card mt-5">
                <div class="container-fliud">
                    <div class="wrapper row">
                        <div class="preview col-md-6">
                            <div class="preview-pic tab-content">
                                <div class="tab-pane active" id="pic-1"><img class="img-fluid"
                                                                             v-if="product.image_name"
                                                                             :src="`${projectUrl}/storage/uploads/products/${product.id}/${product.image_name}`"
                                                                             alt="Alternate Text"/>
                                    <img  v-else :src="`${projectUrl}/images/default/product/car-default.jpg`"
                                         class="card-img-top">
                                </div>
                                <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252"/></div>
                                <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252"/></div>
                                <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252"/></div>
                            </div>
                        </div>
                        <div class="details col-md-6">
                            <h3 class="product-title">{{product.name}}</h3>
                            <div class="rating">
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <span class="review-no">{{product.category}}</span>
                            </div>
                            <h4 class="price">current price: <span>${{product.price}}</span></h4>
                            <h5>Odometer:
                                <span data-toggle="tooltip" title="Not In store">{{product.odometr}} Km</span>
                            </h5>
                            <p class="product-description">{{product.description}}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <star-rating v-model="rating" @rating-selected ="setRating"></star-rating>
                    <div v-if="message !== ''" class="alert alert-success" role="alert">
                        {{message}}
                    </div>
                    <div v-if="error !==''" class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                </div>

            </div>
            <div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="page-header">
                            <h1><small class="pull-right">{{comments.length}}</small> Comments </h1>
                        </div>
                        <div class="comments-list" v-for="comment in comments">
                            <div class="media">
                                <a class="media-left" href="#">
                                    <img class="commentImg" v-if="comment.user.image" :src="`../storage/uploads/users/${comment.user.id}/${comment.user.image}`">
                                    <!--<img v-else src="../storage/uploads/users/default/downd.jpg">-->
                                </a>
                                <div class="media-body">

                                    <h4 class="media-heading user_name">{{comment.user.name}}</h4>
                                    {{comment.content}}
                                    <!--<p class="pull-right" style="max-width: 30px"><small>{{comment.created_at}}</small></p>-->
                                    <!--<p><small><a href="">Like</a> - <a href="">Share</a></small></p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <form v-if="Object.keys(authUser).length" v-on:submit.prevent="addComment" method="post">
                        <textarea placeholder="Add your comment" v-model="content"></textarea>
                        <button class="comment">Add Comment</button>
                    </form>
            </div>
            <div class="action">
                <!--<div v-if="role === 'admin'">-->
                    <!--<router-link class="ad-btn" :to="{ name: 'edit', params: { id: product.id }}">Edit</router-link>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex"

    export default {
        name: "productPage",
        data() {
            return {
                projectUrl: location.origin,
                product: [],
                content: [],
                comments: [],
                rating: 0,
                message: '',
                error: ''
            }
        },
        created() {
            this.index()
        },
        computed: {
            ...mapGetters(['authUser']),
        },
        mounted() {
            let _this = this;
            Echo.channel('my-channel').listen('.CommentEvent', function(data) {
                if (data && data.comment) {
                    _this.comments.push(data.comment)
                    _this.content = []
                }
            });
            Echo.channel('rate').listen('.RatingEvent', function(data) {
                _this.index()
            })
        },
        methods: {
            index() {
                let id = this.$route.params.id;
                axios.get(`/api/product/${id}`)
                    .then(response => {
                        this.product = response.data.product;
                        this.comments = this.product.comment;
                        if(response.data.ratingSummary && response.data.countSummary){
                            this.rating = response.data.ratingSummary / response.data.countSummary
                        }
                    })
            },
            addComment: function () {
                let id = this.$route.params.id;
                axios.post(`/api/product/${id}/addComment`, {
                    content: this.content,
                    product_id: this.product.id,
                })
                    .then((response) => {
                        // console.log(response)
                    })
            },
            setRating(){
                let id = this.$route.params.id;
                axios.post(`/api/product/${id}/addRate`, {
                    rate: this.rating,
                    product_id: this.product.id
                })
                    .then(response => {
                        if(response.data && response.data.success){
                                        this.message = response.data.message
                        }
                    })
                    .catch(errors => {
                    this.error = response.data.error
                })
            },
            getCounting() {

            }

        },
        watch:{
            $route(){
               this.index();
            }
        }
    }
</script>

<style scoped>

    .commentImg{
        max-width: 25%
    }

    .user_name{
        font-size: 20px;
        font-weight: bold;
    }
    .comments-list .media{
        border-bottom: 1px dotted #ccc;
    }
    body {
        font-family: 'open sans';
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
    }

    .comment{
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 5px auto 1px auto;
        color: #000;
        overflow: hidden;
        position: relative;
        background-color: #9561e2;;
    }

    .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;
        position: relative;
        background-color: blue;
    }

    .preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    @media screen and (max-width: 996px) {
        .preview {
            margin-bottom: 20px;
        }
    }

    .preview-pic {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .preview-thumbnail.nav-tabs li {
        width: 18%;
        margin-right: 2.5%;
    }

    .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block;
    }

    .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0;
    }

    .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0;
    }

    .tab-content {
        overflow: hidden;
    }

    .tab-content img {
        width: 100%;
        -webkit-animation-name: opacity;
        animation-name: opacity;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
    }

    .card {
        margin-top: 50px;
        background: #eee;
        padding: 3em;
        line-height: 1.5em;
    }

    @media screen and (min-width: 997px) {
        .wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }

    .details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .product-title, .price, .sizes, .colors {
        text-transform: UPPERCASE;
        font-weight: bold;
    }

    .checked, .price span {
        color: #ff9f1a;
    }

    .product-title, .rating, .product-description, .price, .vote, .sizes {
        margin-bottom: 15px;
    }

    .product-title {
        margin-top: 0;
    }

    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    textarea{
        margin-top: 15px;
        margin-bottom: 0px;
        height: 106px;
        resize: none;
    }
</style>
