<template>
    <div v-infinite-scroll="getUserProducts" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
        <div class="container">
            <br>
            <div v-if="message.length" class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                <strong>{{message}}</strong>
            </div>
            <div class="row" id="ads">
                <!-- Category Card -->
                <div class="col-md-4 mt-4" v-for="product in products">
                    <div class="card rounded">
                        <div class="card-image">
                            <span class="card-notify-badge">{{product.category}}</span>
                            <span class="card-notify-year">{{product.year}}</span>
                            <img class="img-fluid"
                                 v-if="product.image_name"
                                 :src="`storage/uploads/products/${product.id}/${product.image_name}`"
                                 alt="Alternate Text"/>
                            <img v-else src="images/default/product/car-default.jpg" class="card-img-top">
                        </div>
                        <div class="card-image-overlay m-auto">
                            <span class="card-detail-badge">Used</span>
                            <span class="card-detail-badge">$ {{product.price}}</span>
                            <span class="card-detail-badge">{{product.odometr}} Kms</span>
                        </div>
                        <div class="card-body text-center">
                            <div class="ad-title m-auto">
                                <h5>{{product.name}}</h5>
                            </div>
                            <router-link class="ad-btn" :to="{ name: 'productPage', params: { id: product.id }}">View
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex"

    export default {
        name: "userProducts",
        data() {
            return {
                products: [],
                message: [],
                busy: false
            }
        },
        // created() {
        //     this.getUserProducts()
        //
        // },
        computed: {
            ...mapGetters(['authUser']),
        },
        methods: {
            getUserProducts() {
                this.busy = true;
                let data = {
                    params: {
                        skip: this.products.length,
                        take: 10,
                    }
                };
                axios.get("/api/userProducts", data)
                    .then(response => {
                        if (response.data.success) {
                            this.message = response.data.message;
                            response.data.products.forEach((item) => {
                                this.products.push(item);
                                this.busy = false;
                            });
                        } else {
                            this.$router.go('login')
                        }
                    });
            }
        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    @import url('https://fonts.googleapis.com/css?family=Montserrat');

    body {
        font-family: 'Montserrat', sans-serif;

    }

    /* Category Ads */

    #ads {
        margin: 30px 0 30px 0;

    }

    #ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

    #ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
    }

    #ads .card-detail-badge {
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;
    }

    #ads .card:hover {
        background: #fff;
        box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    #ads .card-image-overlay {
        font-size: 20px;

    }

    #ads .card-image-overlay span {
        display: inline-block;
    }

    #ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;
        position: relative;
        background-color: #e6de08;
    }

    #ads .ad-btn:hover {
        background-color: #e6de08;
        color: #1e1717;
        border: 2px solid #e6de08;
        background: transparent;
        transition: all 0.3s ease;
        box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    }

    #ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }
</style>
