<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link to="/" class="navbar-brand">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/userProducts" class="nav-link" v-if="Object.keys(authUser).length">My Cars
                    </router-link>
                </li>
                <li class="nav-item" v-if="Object.keys(authUser).length">
                    <router-link to="/createProduct" class="nav-link">Add Car</router-link>
                </li>
                <li class="nav-item"
                    v-if="authUser && Object.keys(authUser).length && authUser.roles && authUser.roles[0].name == 'admin'">
                    <router-link to="/users" class="nav-link">All Users</router-link>
                </li>
                <li class="nav-item"
                    v-if="authUser && Object.keys(authUser).length && authUser.roles && authUser.roles[0].name == 'admin'">
                    <router-link to="/upload/xls" class="nav-link">Upload Xls</router-link>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0 nav-item">
                <div class="dropdown">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           id="dropdownMenuButton"
                           v-model="search"  maxlength="15"
                           @input="searching" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div @scroll="loadMore($event)" style="max-height: 200px;" v-show="products.length" class="dropdown-menu overflow-auto" aria-labelledby="dropdownMenuButton">
                        <div v-for="prod in products" class="dropdown-item">
                        <router-link :to="{ name: 'productPage', params: { id: prod.id }}"  >{{prod.name}}</router-link>
                        </div>
                    </div>
                </div>
            </div>
            <strong v-if="!Object.keys(authUser).length" class="nav-item">
                <router-link to="/login" class="nav-link">Login</router-link>
            </strong>
            <strong v-if="Object.keys(authUser).length" class="nav-item">
                <button type="submit" @click="logOut" class="btn btn-outline-danger my-2 my-sm-0">Log Out</button>
            </strong>
        </div>
    </nav>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "navbar",
        data() {
            return {
                search: '',
                products: [],
            }
        },
        computed: {
            ...mapGetters(['authUser']),
        },
        methods: {
            loadMore(event) {
                if(event.target.scrollTop + event.target.clientHeight >= event.target.scrollHeight) {

                }
            },
            logOut() {
                axios.post('/api/logOut')
                    .then(response => {
                        if (response.data.success) {
                            this.$store.dispatch('logoutUser');
                            cookie.set('access_token', '');
                            axios.defaults.headers.common['Authorization'] = '';
                            this.$router.push({ name: 'login'})
                        } else {

                        }
                    })
                    .catch(function (error) {
                        this.$store.dispatch('logoutUser');
                    });
            },
            searching(){
                let data = this.search;
                axios.get('/api/product/search', {
                   params: {
                       data: data
                   }
                })
                    .then(response => {
                        if(response.data.success) {
                            this.products = response.data.products
                        }
                    })
                    .catch(errors => {
                    })
            },
        },
    }
</script>


<style scoped>

    #btnSearch {
        margin-right: 10px;
    }

</style>
