<template>
    <div>
        <footer class="page-footer font-small cyan darken-3 bg-dark mt-3">
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a href="#">CodeIdea.LLC </a>
                </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: "navFoot"
    }
</script>

